@{
    Layout = null;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<form class="layui-form" style="padding: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label">类别名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" lay-verify="required" autocomplete="off" placeholder="请输入类别名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="btn">确定</button>
        </div>
    </div>
</form>
<script src="~/jquery/1.9.1/jquery.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    //Demo
    layui.use('form',
        function () {
            var form = layui.form;

            //监听提交
            form.on('submit(btn)',
                function (data) {
                    $.ajax({
                        url: 'Add',
                        type: 'post',
                        data: JSON.stringify(data.field),
                        dataType: 'json',
                        contentType: 'application/json;charset=UTF-8',
                        success: function (res) {
                            if (res.code == '0') {
                                parent.layer.close(parent.layer.index);
                            }
                            else {
                                layer.msg('操作失败', { icon: 2, time: false, btn: ['关闭'] });
                            }
                        },
                        error:
                            function () {
                                layer.msg('服务器异常', { icon: 2, time: 1500 });
                            }
                    });

                    return false;
                });
        });
</script>